In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("notepad.csv")

In [3]:
data

   example  income credit score employment collature loan approval
0        1    high         good        yes       yes           yes
1        2    high          bad         no        no            no
2        3  medium         good         no       yes            no
3        4    high          bad        yes       yes           yes

In [5]:
concept = np.array(data)[:,:-1]

In [6]:
concept

array([[1, 'high', 'good', 'yes', 'yes'],
       [2, 'high', 'bad', 'no', 'no'],
       [3, 'medium', 'good', 'no', 'yes'],
       [4, 'high', 'bad', 'yes', 'yes']], dtype=object)

In [7]:
target = np.array(data)[:,-1]

In [8]:
target

array(['yes', 'no', 'no', 'yes'], dtype=object)

In [14]:
def train(con,tar):
    for i,val in enumerate(tar):
     if val == "yes":
        specific_h = con[i].copy()
        break

    for i,val in enumerate(con):
        if tar[i] == "yes":
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = "?"
                else:
                    pass
                    
    return specific_h

In [16]:
print(train(concept,target))

['?' 'high' '?' 'yes' 'yes']